/*
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-position: center top;
  background-size: cover;
  margin: 0;
  animation: fadein .5s both;
}

.page-title {
  text-align: center;
  font-weight: 100;
  animation: fadein 1.5s both;
  animation-delay: 1.15s;
}

.page-description {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery-item {
  margin: 20px;
  border: 5px solid #FFF;
}

.gallery-item .thumbnail {

}
*/
/* FOOTER NAVIGATION */
/*
nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {

}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}
*/
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-size: cover;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 350;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/jumbotron.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.content{
  text-align: center;
  font-size: 10px;
  font-weight: 50;
}

.section{
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}
.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ff0000;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.a-btn {
  display: flex;
}

.a-btn a {
  margin-right: 20px;
  padding: 2px 10px;
}

.a-btn a:active {
  position: relative;
  bottom: 2px;
}

.sm-btn {
  display: flex;
  opacity: 1;
}

.sm-btn img {
  margin-right: 20px;
  padding: 2px 10px;
}

.sm-btn img:active {
  position: relative;
  bottom: 2px;
}
.sm-btn:hover{
  opacity: 0.2
  
}
.page-description {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 30px;
}

hr.underline {
    width: 55px;
    color: #337ab7;
    border-top: 2px solid #337ab7;
}

img.center {
    display: block;
    margin: 0 auto;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 80px;
  height: 25px;
  text-align: center;
}


