body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  
  background-image: url("https://s3-us-west-1.amazonaws.com/jasonfong/p/goats.JPG");
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  
  -webkit-animation: slowblur 1s ease-in 1s forwards;
  -moz-animation: slowblur 1s ease-in 1s forwards;
  animation: slowblur 1s ease-in 1s forwards;
}

header {
  padding: 20px 0;
}

skills .row,
header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 350;
  font-size: 100px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.content{
  text-align: center;
  font-size: 10px;
  font-weight: 50;
}

.section{
  margin-top: 40px; 
  margin-bottom: 5px;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}
.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ff0000;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.a-btn {
  display: flex;
}

.a-btn a {
  margin-right: 20px;
  padding: 2px 10px;
}

.a-btn a:active {
  position: relative;
  bottom: 2px;
}

.sm-btn {
  opacity: 0.5;
}

.sm-btn img {
  
}

.sm-btn img:active {
  position: relative;
  top: 2px;
}

.sm-btn:hover {
  opacity: 1.0;
}

.hlink {
  border-bottom: 1px solid blue;
}

.page-description {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 30px;
}

.progress {
 width: 100%; 
 margin: auto;
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
}

.skill-logo {
  width: 80px;
  height: 80px;
}

hr.underline {
    width: 55px;
    color: #337ab7;
    border-top: 2px solid #337ab7;
}

img.center {
    display: block;
    margin: 0 auto;
}

footer {
  font-size: 12px;
  padding: 5px 0;
  margin: auto;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  vertical-align: middle
}

footer div img {
  width: 50px;
  height: 50px;
}

* {
    box-sizing: border-box;
}


svg {
    width: 100%;
    display: block;
}

