body,html {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: white;
  height: 100%;
}

header {
  padding: 20px 0;
}


header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 400;
  font-size: 65px;
  margin: 0;
  margin-top: auto;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  
}


section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.content{
  max-width: 980px;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.navi {
  margin-top: 110px;
  font-size: large;
}
.section{
  margin-top: 40px; 
  margin-bottom: 1px;
  text-align: center;
  font-size: 45px;
  font-weight: 400;
}
.col-md-6 {
  margin: 0 0 30px;
}

.button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
}


.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ff0000;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

.a-btn {
  display: flex;
}

.a-btn a {
  margin-right: 20px;
  padding: 2px 10px;
}

.a-btn a:active {
  position: relative;
  bottom: 2px;
}

.sm-btn {
  opacity: 0.5;
}

.sm-btn img {
  margin-bottom: 25px;
  margin-top: 25px;
}

.sm-btn img:active {
  position: relative;
  top: 2px;
}

.sm-btn:hover {
  opacity: 1.0;
}

.hlink {
  border-bottom: 1px solid blue;
}

.page-description {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 30px;
  font-size: 28px;
}

.progress {
 width: 90%; 
 position: absolute;
 margin-bottom: 0px !important;
 margin-top: 30px;
}


.skill-logo {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.skill {
  margin-bottom: 50px;
}

#java {
  width: 75px;
  height: 100px;    
}
#skl {
    width: 110px;
    height: 60px;
}
#unix {
    width: 100px;
    height:50px;   
    margin-left:0px;
}
#ds{
  width: 120px;
  height:90px;
}

hr.underline {
    width: 55px;
    color: #337ab7;
    border-top: 2px solid #337ab7;
    margin-bottom: 40px;
}

img.center {
    display: block;
    margin: 0 auto;
}

footer {
  font-size: 12px;
  padding: 5px 0;
  margin: auto;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  vertical-align: middle
}

footer div img {
  width: 50px;
  height: 50px;
}

.display-container img {
  width: 640px;
  height: 410px;
}

* {
    box-sizing: border-box;
}


svg {
    width: 100%;
    display: block;
}


#column-content {
  display: inline-block;
}
img {
  vertical-align: middle;
}
span {
  display: inline-block;
  vertical-align: middle;
}

#wrapper {
    padding: 100px 0 60px 100px;
    box-sizing: border-box;
    position: relative;
    z-index: 100
}

#wrapper.hide {
    display: none
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease;
    background-color: #232741;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

#container {
  height: 400px;
  width: 400px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

.row{
  display:flex;
  align-items:center;
}

div.progress,
div.skill-logo {
  margin:0;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


.w3-black,.w3-hover-black:hover {
  color:#FFF!important;
  background-color: transparent!important;
}
.w3-large{
	font-size:45px!important;
}
.w3-border{border:1px solid #ccc!important}
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}
.w3-section{margin-top:16px!important;margin-bottom:16px!important}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.display-container, .w3-display-container:hover {display: block;}
.w3-content{max-width:980px;margin:auto}
.w3-display-middle {
   position:absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   -ms-transform:translate(-50%,-50%)
}	
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-container,.w3-panel{padding:0.01em 16px}
.display-container{
   position:relative;
   margin-top: 15px;
   margin-bottom: 95px;
}
.w3-tooltip .w3-text{display:none}
.w3-tooltip:hover .w3-text{display:inline-block}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}



.invert {-webkit-filter: invert(100%); filter: invert(100%);}

